CompileFlags:
	Add:
		- -std=c++20
		- -fPIC
		- -I/usr/include/qt6
		- -I/usr/include/qt6/QtCore
		- -I/usr/include/qt6/QtGui
		- -I/usr/include/qt6/QtWidgets

		- -I/usr/include/qt6/QtWebEngineCore
		- -I/usr/include/qt6/QtWebEngineWidgets
		- -I/usr/include/qt6/QtWebEngine
		- -I/usr/include/qt6/QtWebChannel
		- -I/usr/include/qt6/QtNetwork

		- -I/usr/include/qt6/Qsci